@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@100&family=Rajdhani&family=Roboto:wght@300&family=Tourney:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
}

.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    align-items: center;
    height: 100%;
    width: 65%;
    background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc00ff, #00dbde);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc00ff, #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}

.first-section h1{
    font-size: 90px;
    font-weight: 300;
    color: white;
    font-family: 'Orbitron', sans-serif;

}

.first-section h3{
  
    margin-top: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 50;
   font-size: 50px;

}

.first-section p{
    margin-top: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 50;
   font-size: 25px;


}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 35%;
    color: black;
}

.second-section h3{
     margin-top: 20%;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.second-section p{
  margin-top: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

label{
    margin-top: 10%;
    margin-right: 20%;
    color: gray;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

 input{
    
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
}

button{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    background-color: #3399cc;
    border: none;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.checkbox{
 
        display: block;
        margin-top: 10%;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        width: 100%;
        color: #3399cc
    
}


.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    
  }

 a{
    margin-left: 20%;
    text-decoration: none;
    color: #3399cc;
 }

 .btn{
    border: 1px solid #3399cc;
    background-color: white;
    color: #3399cc;
 }

 form h4{
    margin-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 50;
    margin-top: 8%;
    margin-left: 30%;
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    color: black;
}

.btn-2 img{
    height: 30px;
}
.last-class{
    display: flex;
    width: 50%;
}
.last-class a{
    color: #3399cc;
    margin-top: 20%;
    margin-left: 40%;
  
}
